.preLoader {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0; left: 0;
	z-index: 300;
	background: rgba(#000, .3);
	display: none;
	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		background: url('../img/icon/preloader.gif') center center / cover no-repeat;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.thanks {
	max-width: 500px;
	padding-bottom: 30px !important;
	width: calc(100% - 60px) !important;
	.question {
		line-height: 2;
		margin-bottom: 0 !important;
	}
}

.callBack, .thanks {
	width: 660px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #191919;
	border-radius: 4px;
	background: $darkBlue;
	box-sizing: border-box;
	padding: 26px 20px 110px;
	box-shadow: 0 0 12px 5px rgba(#000, .5);
	font-family: 'cd_bold', sans-serif;
	z-index: -20;
	opacity: 0;

	&.showModal {
		z-index: 20;
		opacity: 1;
	}

	.question {
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}

	.choiceMethod {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.methodItem {
			width: 138px;
			height: 138px;
			border: 3px solid #fff;
			background: #fff;
			position: relative;
			border-radius: 50%;
			box-sizing: border-box;
			cursor: pointer;
			&.active {
				background: none;
				&:after {
					display: block;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: 37px;
				left: 37px;
				width: 60px;
				height: 60px;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&:after {
				display: none;
				content: '';
				position: absolute;
				bottom: -40px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				transform: rotate(45deg);
				background: $formBack;
			}
		}
		.methodWrap {
			&:nth-child(1) {
				.methodItem {
					&:before {
						background-image: url("../img/icon/call-answer.svg");
					}
					&.active:before {
						background-image: url("../img/icon/call-answer-active.svg");
					}
				}

			}
			&:nth-child(2) {
				.methodItem {
					&:before {
						background-image: url("../img/icon/whatsapp-logo.svg");
					}
					&.active:before {
						background-image: url("../img/icon/whatsapp-logo-active.svg");
					}
				}

			}
			&:nth-child(3) {
				.methodItem {
					&:before {
						background-image: url("../img/icon/skype-logo.svg");
					}
					&.active:before {
						background-image: url("../img/icon/skype-logo-active.svg");
					}
				}

			}
			&:nth-child(4) {
				.methodItem {
					 &:before {
						 background-image: url("../img/icon/close-envelope.svg");
					 }
					 &.active:before {
						 background-image: url("../img/icon/close-envelope-active.svg");
					 }
				}

			}
		}
	}
	.callBackForm {
		position: absolute;
		bottom: 26px;
		height: 58px;
		background: $formBack;
		padding: 10px;
		box-sizing: border-box;
		input {
			width: 170px;
			height: 100%;
			border-radius: 1px;
			border: none;
			outline: none;
			box-sizing: border-box;
			padding: 0 10px;
			font-size: 14px;
			font-family: 'cd_bold', sans-serif;
			color: $darkBlue;
			display: none;
		}
		button {
			box-sizing: border-box;
			height: 100%;
			background: $green;
			color: #fff;
			font-size: 14px;
			cursor: pointer;
			border: none;
			outline: none;
			border-radius: 1px;
			margin-left: 3px;
			font-family: 'cd_bold', sans-serif;
		}
		&#method1 {
			left: 15px;
			.telephone {
				display: inline-block;
			}
		}
		&#method2 {
			left: 20%;
			.whatsapp {
				display: inline-block;
			}
		}
		&#method3 {
			left: auto;
			right: 20%;
			.skype {
				display: inline-block;
			}
		}
		&#method4 {
			right: 15px;
			.email {
				display: inline-block;
			}
		}
		.error {
			color: $red;
			margin-top: 6px;
			font-size: 14px;
		}
		&.invalid {
			input {
				box-shadow: inset 0 0 5px 2px $red;
			}
		}
	}
}

.portfolio {
	position: absolute;
	height: calc(100vh - 290px);
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: -10;
	opacity: 0;
	&.showModal {
		z-index: 100;
		opacity: 1;
	}
	.pfClose {
		width: 48px;
		height: 48px;
		background: url('../img/icon/pfClose.png') center center / cover no-repeat;
		position: absolute;
		top: 15px;
		left: calc(50% + 422px);
		cursor: pointer;
		transition: opacity .2s linear;
		opacity: .7;
		z-index: 15;
		&:hover {
			opacity: 1;
		}
	}
	.pfSlider {
		height: 100%;
		.pfSliderWrap {
			height: 100%;
			align-items: flex-end;

		}
		.pfSlide {
			height: 94%;
			width: 340px;
			box-sizing: border-box;
			text-align: center;
			color: #fff;
			font-family: 'cd_bold', sans-serif;
			font-size: 24px;
			transition: transform .3s linear;
			transform: scale(.56);
			transform-origin: 50% 100% 0;
			z-index: 2;
			.imgBox {
				display: block;
				border: 1px solid $darkBlue;
				margin-top: 10px;
				height: calc(100% - 10px);
				position: relative;
				box-sizing: border-box;
				overflow: hidden;
				box-shadow: 0 0 12px 5px rgba(#000, .5);
			}
			.preview {
				position: absolute;
				width: 100%;
				height: auto;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.pfNav {
			position: absolute;
			top: 50%;
			width: 45px;
			height: 75px;
			background: red;
			z-index: 12;
			background: url("../img/icon/pfPrev.png") center center / cover no-repeat;
			cursor: pointer;
			transition: opacity .2s linear;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
		.swiper-prev {
			left: calc(50% - 235px);
		}
		.swiper-next {
			right: calc(50% - 235px);
			transform: rotate(180deg);
		}


		.swiper-slide-active {
			z-index: 10;
			transform: scale(1);
		}
		.swiper-slide-next, .swiper-slide-prev {
			transform: scale(.90);
			z-index: 8;
		}
		.level3 {
			z-index: 7;
			transform: scale(.80);
		}
		.level4 {
			z-index: 6;
			transform: scale(.62);
		}
		.level5 {
			z-index: 5;
			transform: scale(.58);
		}
	}
}

.navigationWrap {
	position: absolute;
	max-width: 970px;
	width: calc(100% - 80px);
	height: 470px;
	top: 50%;
	left: calc(50% + 40px);
	z-index: -20;
	opacity: 0;
	transform: translate(calc(-50% - 40px), -50%);
	&.showModal {
		z-index: 20;
		opacity: 1;
	}
}

.modalWrap {
	width: 100%;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 12px 5px rgba(#000, .5);
	box-sizing: border-box;
	padding: 15px 40px;
	border: 10px solid $darkBlue;
	&.about .closeModal {
		top: 25px;
		right: 25px;
	}
	.customScroll {
		.mCSB_draggerRail {
			background-color: $formBack !important;
			width: 9px;
			border-radius: 5px !important;
		}
		.mCSB_dragger_bar {
			background-color: #4A4B54 !important;
			width: 9px !important;
			border-radius: 5px !important;
		}
	}
	.closeModal {
		position: absolute;
		top: 15px;
		right: 15px;
		width: 24px;
		height: 24px;
		background: url('../img/icon/closeModal.png') center center / cover no-repeat;
		cursor: pointer;
		opacity: .7;
		transition: opacity .2s linear;
		z-index: 15;
		&:hover {
			opacity: 1;
		}
	}
	.infoModal {
		position: relative;
		z-index: 10;
		width: 100%;
		height: 100%;
		font-family: 'cd_regular', sans-serif;
		.recallHead {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 15px 0;
		}
		.user {
			display: flex;
			flex-direction: row;
			align-items: center;
			.avatar {
				min-width: 95px;
				width: 95px;
				height: 95px;
				border-radius: 50%;
				border: 1px solid $darkBlue;
				margin-right: 25px;
			}
			img {
				max-width: 100%;
				max-height: 100%;
			}
			.name {
				font-size: 22px;
			}
		}
		.starLine {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 14px;
			justify-content: flex-end;
			.stars {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 5px;
				li {
					width: 20px;
					min-width: 20px;
					height: 20px;
					margin: 0 5px;
					background: url('../img/icon/starGrey.svg') center center / cover no-repeat;
					&.active {
						background: url('../img/icon/star.svg') center center / cover no-repeat;
					}
					&.half {
						background: url('../img/icon/halfStar.svg') center center / cover no-repeat;

					}
				}
			}
			.value {
				width: 32px;
				min-width: 32px;
			}
		}
		.modalText {
			font-size: 30px;
			line-height: 32px;
			margin-bottom: 70px;
			height: 250px;
			overflow: hidden;
		}
		.modalFooter {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding-top: 10px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			box-sizing: border-box;
			margin-bottom: 5px;
			font-size: 14px;
			border-top: 2px solid $darkBlue;
		}
		.aboutContainer {
			height: calc(100% - 48px);
			overflow: hidden;
		}
		.title {
			text-align: center;
			text-transform: uppercase;
			font-size: 18px;
			margin: 5px 0 15px 0;
		}
		.poster {
			margin-bottom: 8px;
			img {
				max-width: 100%;
				max-height: 100%;
				display: block;
				margin: 0 auto;
			}
		}
		.aboutText {
			font-size: 14px;
			line-height: 1.3;
		}
	}
}

.about {
	font-family: 'cd_regular', sans-serif;
	.quote {
		text-align: center;
		padding: 10px;
		margin: 5px 40px;
		color: rgb(91, 155, 213);
		position: relative;
		&:before, &:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgb(91, 155, 213);
			top: 0;
		}
		&:after {
			top: auto;
			bottom: 0;
		}
	}
	h2 {
		font-family: 'cd_bold', sans-serif;
		font-size: 16px;
		text-align: center;
		margin: 5px;
	}
	ul, ol {
		list-style-type: disc;
		padding-left: 30px;
		margin: 10px 0;
		li {
			margin-bottom: 8px;
			span {
				font-family: 'cd_bold', sans-serif;
			}
		}
	}
	ol {
		list-style-type: decimal;
	}
	b {
		font-family: 'cd_bold', sans-serif;
	}
}

.navBtn {
	position: absolute;
	top: 50%;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: $red;
	margin-top: -38px;
	border: 1px solid #000;
	cursor: pointer;
	opacity: .7;
	transition: opacity .2s linear;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		right: 10px;
		margin-top: -15px;
		width: 18px;
		height: 30px;
		background: url("../img/icon/rcNext.png") center center / cover no-repeat;
	}
	&:hover {
		opacity: 1;
	}
	&.nextSlide {
		right: -40px;
	}
	&.prevSlide {
		left: -40px;
		transform: rotate(180deg);
	}
}


.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000vh;
	background: $darkBlue;
	opacity: .84;
	display: none;
	z-index: 15;
}
.pfShow ~ .overlay,
.show ~ .overlay,
.showModal ~ .overlay {
	display: block;
}


.up {
	position: absolute;
	top: 45px;
	right: calc(50% - 600px);
	width: 74px;
	cursor: pointer;
	display: none;
	z-index: 10;
	.icon {
		width: 100%;
		height: 40px;
		background: url('../img/icon/up.png') center center / contain no-repeat;
		margin-bottom: 3px;
		transition: all .2s linear;
	}
	p {
		font-size: 14px;
		text-align: center;
	}
	&:hover {
		.icon {
			opacity: .8;
		}
	}
}

.callbackkiller {
	&.cbk-phone {
		left: auto !important;
		right: 10% !important;
		bottom: 200px !important;
		top: auto!important;
		//width: 80px !important;
		//height: 80px !important;
	}
}

.modalBox {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -100;
	&.above {
		z-index: 200;
		.showModal {
			animation: topAnimate 1s ease-out;
		}
	}
}

.bottomAnimate {
	.modalBox.above {
		.showModal {
			opacity: 1;
			animation: bottomAnimate 1s ease-out;
		}
	}
}

@keyframes bottomAnimate {
	0%  { top: 150%; opacity: 0; }
	30% { opacity: 0; }
	80% { top: 45%;  opacity: 1; }
	95% { top: 51%; opacity: 1; }
	100%{ top: 50%; opacity: 1; }
}

@keyframes topAnimate {
	0%  { top: -150%; }
	80% { top: 55%; }
	95% { top: 49%; }
	100%{ top: 50%; }
}