.wrapper {
	overflow-x: hidden;
	perspective: 300vh;
	background: #42444c;
	&.rotate {
		.cube {
			transform: rotateX(90deg);
		}
		.second {
			z-index: 10;
		}
		& + .up {
			display: block;
		}
	}
}

.cube {
	position: relative;
	width: 100%;
	height: 100vh;
	transform-origin: 50% 50% -50vh;
	transform-style: preserve-3d;
	transition: transform .5s linear;
}

.side {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: 50% 50% -50vh;
	overflow: hidden;
	z-index: 5;
	&.first {
		z-index: 8;
	}
	&.second {
		transform: rotateX(-90deg);
	}
}

@keyframes cube {
	0%   {transform: rotateX(0deg);}
	50%  {transform: rotateX(45deg) scale(.94);}
	100% {transform: rotateX(90deg);}
}


.apple {
	.wrapper {
		perspective: none;
	}

	.cube, .side {
		transform-origin: 50% 50% 0;
	}
}