@media screen and (max-width: 1300px) {
	.up {
		right: 0;
		padding: 5px;
		border: 1px solid $darkBlue;
		background: #fff;
		border-right: none;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
		top: 50%;
		position: fixed;
	}
}

@media screen and (max-width: 960px) {
	.portfolio .pfClose {
		left: auto;
		right: 15px;
	}
	.formContainer {
		padding: 0;
		.up {
			right: 1px;
		}
	}

}

@media screen and (max-width: 900px) {
	.formContainer {
		margin-bottom: 195px;
		.changeList {
			height: calc(100vh - 245px);
		}
		.free {
			flex-wrap: wrap;
			.freeStatus {
				width: 100%;
				font-size: 52px;
				padding: 10px;
			}
			.freeList {
				flex-wrap: wrap;
				.freeItem {
					width: 50%;
				}
			}
		}
	}
	footer {
		.footerContainer {
			display: flex;
			flex-direction: column;
			min-height: 160px;
			padding: 20px;
		}
		.resultInfo {
			font-family: 'cd_regular', sans-serif;
			font-size: 16px;
			line-height: 20px;
		}
	}
}

@media screen and (max-width: 720px) {
	.formContainer {
		.changeItem {
			.rightArrow, .inputBox {
				display: none !important;
			}
		}
	}
	.callBack {
		width: calc(100% - 40px);
		left: 20px;
		top: 50%;
		transform: translate(0);
		padding-bottom: 0;
		.choiceMethod {
			flex-wrap: wrap;
			margin-bottom: 15px;
			.methodWrap {
				width: 50%;
			}
			.methodItem {
				margin: 10px auto;
				&:after {
					display: none!important;
				}
			}
		}
		.callBackForm {
			left: 0 !important;
			top: 0 !important;
			width: 100%;
			margin-bottom: 25px;
			position: relative;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			height: auto;
			button, input {
				height: 38px;
				margin: 5px 7px;
			}
			&:before {
				content: '';
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				transform: rotate(45deg);
				background: #15151a;
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.side {
		overflow-y: auto;
	}
	header {
		background: #1d1e26;
		.headerContainer {
			flex-wrap: wrap;
			padding: 0;
		}
		.logo {
			width: 100%;
			margin: 10px;
			box-sizing: border-box;
		}
		.mainMenu {
			flex-wrap: wrap;
			width: 100%;
			a {
				width: 50%;
				background: $darkBlue;
				border: 1px solid #2e2f3b;
				box-sizing: border-box;
				&.active, &:hover {
					background: #1d1e26;
				}
				&:nth-child(1) {
					border-left: none;
				}
				&:nth-child(2) {
					border-left: none;
					border-right: none;
				}
				&:nth-child(3){
					border-left: none;
					border-top: none;
				}
				&:nth-child(4) {
					border-left: none;
					border-right: none;
					border-top: none;
				}
			}
		}
	}
	.contentWrap {
		position: static;
		height: auto;
		margin-top: 40px;
		.gibBtn {
			margin-top: 40px;
			margin-bottom: 35px;
		}
	}
	.infoBar {
		position: static;
		margin-bottom: 40px;
		.barContainer {
			flex-wrap: wrap;
			.item {
				width: 100%;
				padding: 75px 15px 15px;
				border-bottom: 1px solid $border;
				&:before {
					top: 15px;
				}
			}
		}
	}
	.formContainer {
		margin-bottom: 35px;
		font-size: 14px;
		.changeList {
			height: auto;
			.question {
				width: 100%;
				justify-content: space-between!important;
			}
		}
	}
	footer {
		position: relative;
	}
	.portfolio {
		top: 270px;
		height: 550px;
		.pfSliderWrap {
			transform: scale(.8);
		}
		.pfClose {
			left: 50%;
			width: 40px;
			height: 40px;
			opacity: 1;
			margin-left: -20px;
			right: auto;
			top: -20px;
		}
		.pfSlider {
			.pfSlide {
				width: 280px;
			}
			.swiper-prev {
				left: calc(50% - 200px);
			}
			.swiper-next {
				right: calc(50% - 200px);
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.gibBtn {
		width: 100% !important;
	}
	.designType {
		&:nth-child(1) {
			.itemDescription {
				margin-left: -70px;
			}
		}
		&:nth-child(2) {
			.itemDescription {
				margin-left: -154px;
			}
		}
	}
}

@media screen and (max-width: 420px) {
	.portfolio {
		top: 270px;
		height: 400px;
		.pfSliderWrap {
			transform: scale(.8);
		}
		.pfSlider {
			.pfSlide {
				width: 220px;
			}
			.swiper-prev {
				left: calc(50% - 155px);
			}
			.swiper-next {
				right: calc(50% - 155px);
			}
		}
	}
}

@media screen and (max-width: 400px) {
	.callBack {
		width: calc(100% - 10px);
		left: 5px;
		padding: 26px 10px 0;
		transform: translate(0);
		.choiceMethod {
			flex-wrap: wrap;
			margin-bottom: 15px;
			.methodWrap {
				width: 50%;
			}
			.methodItem {
				margin: 10px auto;
				&:after {
					display: none!important;
				}
			}
		}
		.callBackForm {
			left: 0 !important;
			top: 0 !important;
			width: 100%;
			margin-bottom: 25px;
			position: relative;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			height: auto;
			button, input {
				height: 38px;
				margin: 5px 7px;
			}
			&:before {
				content: '';
				position: absolute;
				top: -10px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				transform: rotate(45deg);
				background: #15151a;
			}
		}
	}
	footer {
		.footerContainer {
			padding: 20px 5px;
			.resultInfo {
				margin-bottom: 5px;
			}
		}
		.button {
			width: 100%;
			text-align: center;
		}
	}
}