.preLoader {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0; left: 0;
	z-index: 100;
	background: rgba(#000, .3);
	display: none;
	&:before {
		content: '';
		position: absolute;
		width: 40px;
		height: 40px;
		background: url('../img/icon/preloader.gif') center center / cover no-repeat;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.callBack {
	width: 660px;
	position: absolute;
	top: 140px;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid #191919;
	border-radius: 4px;
	background: $darkBlue;
	box-sizing: border-box;
	padding: 26px 20px 110px;
	box-shadow: 0 0 12px 5px rgba(#000, .5);
	font-family: 'cd_bold', sans-serif;
	display: none;

	&.show {
		display: block;
	}

	.question {
		font-size: 18px;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
	}

	.choiceMethod {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
			width: 138px;
			height: 138px;
			border: 3px solid #fff;
			background: #fff;
			position: relative;
			border-radius: 50%;
			box-sizing: border-box;
			cursor: pointer;
			&.active {
				background: none;
				&:after {
					display: block;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: 37px;
				left: 37px;
				width: 60px;
				height: 60px;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&:after {
				display: none;
				content: '';
				position: absolute;
				bottom: -40px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				transform: rotate(45deg);
				background: $formBack;
			}
			&:nth-child(1) {
				&:before {
					background-image: url("../img/icon/call-answer.svg");
				}
				&.active:before {
					background-image: url("../img/icon/call-answer-active.svg");
				}
			}
			&:nth-child(2) {
				&:before {
					background-image: url("../img/icon/whatsapp-logo.svg");
				}
				&.active:before {
					background-image: url("../img/icon/whatsapp-logo-active.svg");
				}
			}
			&:nth-child(3) {
				&:before {
					background-image: url("../img/icon/skype-logo.svg");
				}
				&.active:before {
					background-image: url("../img/icon/skype-logo-active.svg");
				}
			}
			&:nth-child(4) {
				&:before {
					background-image: url("../img/icon/close-envelope.svg");
				}
				&.active:before {
					background-image: url("../img/icon/close-envelope-active.svg");
				}
			}
		}
	}
	.callBackForm {
		position: absolute;
		bottom: 26px;
		height: 58px;
		background: $formBack;
		padding: 10px;
		box-sizing: border-box;
		input {
			width: 170px;
			height: 100%;
			border-radius: 1px;
			border: none;
			outline: none;
			box-sizing: border-box;
			padding: 0 10px;
			font-size: 14px;
			font-family: 'cd_bold', sans-serif;
			color: $darkBlue;
			display: none;
		}
		button {
			box-sizing: border-box;
			height: 100%;
			background: $green;
			color: #fff;
			font-size: 14px;
			cursor: pointer;
			border: none;
			outline: none;
			border-radius: 1px;
			margin-left: 3px;
			font-family: 'cd_bold', sans-serif;
		}
		&#method1 {
			left: 15px;
			.telephone {
				display: inline-block;
			}
		}
		&#method2 {
			left: 20%;
			.whatsapp {
				display: inline-block;
			}
		}
		&#method3 {
			left: auto;
			right: 20%;
			.skype {
				display: inline-block;
			}
		}
		&#method4 {
			right: 15px;
			.email {
				display: inline-block;
			}
		}
	}
}

.portfolio {
	position: absolute;
	height: calc(100vh - 290px);
	width: 100%;
	top: 84px;
	left: 0;
	z-index: -10;
	&.pfShow {
		z-index: 100;
	}
	.pfClose {
		width: 48px;
		height: 48px;
		background: url('../img/icon/pfClose.png') center center / cover no-repeat;
		position: absolute;
		top: 15px;
		left: calc(50% + 422px);
		cursor: pointer;
		transition: opacity .2s linear;
		opacity: .7;
		z-index: 15;
		&:hover {
			opacity: 1;
		}
	}
	.pfSlider {
		height: 100%;
		.pfSliderWrap {
			height: 100%;
			align-items: flex-end;

		}
		.pfSlide {
			height: 94%;
			width: 340px;
			box-sizing: border-box;
			text-align: center;
			color: #fff;
			font-family: 'cd_bold', sans-serif;
			font-size: 24px;
			transition: transform .3s linear;
			transform: scale(.56);
			transform-origin: 50% 100% 0;
			z-index: 2;
			.imgBox {
				border: 1px solid $darkBlue;
				margin-top: 10px;
				height: calc(100% - 10px);
				position: relative;
				box-sizing: border-box;
				overflow: hidden;
				box-shadow: 0 0 12px 5px rgba(#000, .5);
			}
			.preview {
				position: absolute;
				width: auto;
				height: 100%;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		.pfNav {
			position: absolute;
			top: 50%;
			width: 45px;
			height: 75px;
			background: red;
			z-index: 12;
			background: url("../img/icon/pfPrev.png") center center / cover no-repeat;
			cursor: pointer;
			transition: opacity .2s linear;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
		.swiper-prev {
			left: calc(50% - 235px);
		}
		.swiper-next {
			right: calc(50% - 235px);
			transform: rotate(180deg);
		}


		.swiper-slide-active {
			z-index: 10;
			transform: scale(1);
		}
		.swiper-slide-next, .swiper-slide-prev {
			transform: scale(.90);
			z-index: 8;
		}
		.level3 {
			z-index: 7;
			transform: scale(.80);
		}
		.level4 {
			z-index: 6;
			transform: scale(.62);
		}
		.level5 {
			z-index: 5;
			transform: scale(.58);
		}
	}
}